@model StepByStep.Models.Contact
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<div class=" alert alert-info">
    <p>@ViewBag.Bio</p>
    <p>@ViewBag.Old</p>
    <p>@ViewBag.Contact</p>
</div>

@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form" }))
{
    @Html.AntiForgeryToken();

    @Html.TextBoxFor(m => m.Phone, new { @placeholder = "Phone" });
    @Html.ValidationMessageFor(m => m.Phone);


    @Html.TextBoxFor(m => m.Fax, new { @placeholder = "Fax" });
    @Html.ValidationMessageFor(m => m.Fax);

    <input type="submit" name="finish" value="Finish" class="btn btn-default" />
    <input type="submit" name="prev" value="Save & Prev" class="btn btn-default" />

    @Html.ActionLink("Prev", "Old",null, new { @class= "btn btn-danger" });

}

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}